.end__game {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;

  max-width: 350px;
  width: 95%;
  padding: 25px;
  box-sizing: border-box;

  background-color: white;
  text-align: center;
  border-radius: 20px;
  transform: translate(-50%, -1500%);
  transition: 0.5s ease;

  .end__game__text {
    @include gilroy (32px, 700, 32px);
  }

  .final__result {
    @include gilroy (26px, 700, 26px);
  }

  .end__img {
    width: 140px;
    height: 150px;
  }

  .buttons__containter {
    display: flex;
    justify-content: space-between;
  }

  .end__btn {
    display: inline-block;
    padding: 15px;
    width: 100%;

    color: black;
    border: 1.5px solid black;

    &:first-child {
      margin-right: 20px;
    }

    &:hover {
      background-color: #FFBCA2;
      border: 1.5px solid transparent;
    }
  }
}

.modal__active {
  transform: translate(-50%, -50%);
}