body {
  position: relative;
  background: url('./common/img/main-pic.jpg') no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #000000;
  height: 100vh;
  font-family: 'Gilroy', sans-serif;
  outline: none;
}

button {
  border: 1.5px solid #FFF;
  border-radius: 60px;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.main__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

// .main__wrapper__move {
//   animation: move 0.7s ease;
// }

// .main__wrapper__remove {
//   animation: remove 0.7s ease;
// }

// @keyframes move {
//   0% {
//     transform: translateX(0);
//   }

//   100% {
//     transform: translateX(-300%);
//   }
// }

// @keyframes remove {
//   0% {
//     transform: translateX(-300%);
//   }

//   100% {
//     transform: translateX(0);
//   }
// }

.button__controller {
  padding: 20px 0;
  width: 287px;
  color: #FFF;
  @include gilroy (22px, 500, 22px);
  transition: 0.4s ease;

  &:hover {
    transform: scale(1.05);
  }

  &:nth-child(2) {
    margin-right: 36px;
  }
}

.settings {
  position: absolute;
  top: 70px;
  right: 70px;
  width: 36px;
  height: 36px;
  z-index: 4;
  padding: 0;

  background-image: url('./common/img/settings-logo.svg');
  transition: 0.3s ease;
  border: none;

  &:hover {
    filter: invert(70%) sepia(13%) saturate(14%) hue-rotate(342deg) brightness(86%) contrast(81%);
  }
}

.main {
  text-align: center;
  max-width: 614px;
}

.main__logo {
  width: 380px;
  margin: 40px 0;
}

.footer {
  width: 90%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__item {
  margin: 0;
  @include gilroy (16px, 500, 20px);
  color: #FFF;
}

.link {
  color: white;
  transition: 0.3s ease;

  &:hover {
    opacity: 0.7;
  }
}

@media screen and (max-width: 1350px) {
  body {
    background-size: cover;
  }
}