@font-face {
  font-family: 'Gilroy';
  src: local('./common/fonts/Gilroy Medium'), local('Gilroy-Medium'),
    url('./common/fonts/Gilroy-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}