.artist__page {
  width: 100vw;
  height: 100vh;
  padding: 30px 70px 0;
  box-sizing: border-box;
  background-color: black;

  .settings {
    top: 44px;
    right: 69px;
  }

  .page__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
  }

  .controller__btn {
    border: none;
    @include gilroy (22px, 500, 18px);
    color: #FFf;
    transition: 0.3s ease;

    &:last-child {
      color: #FFBCA2;
      font-weight: 700;
      cursor: auto;
    }

    &:hover:not(:last-child) {
      color: #777777;
    }
  }
}