.settings__page {
  width: 100vw;
  height: 100vh;
  background-color: black;
  padding: 47px 82px 0;
  box-sizing: border-box;

  .page__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .button__controller {
    position: relative;
    border: none;
    width: unset;
    padding-left: 35px;
    color: white;

    &:hover {
      transform: scale(1);
      color: gray;
    }

    &:before {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      content: '';
      background: url('./common/img/arrow-back.svg') no-repeat;
      background-size: 28px 28px;
      width: 28px;
      height: 28px;
    }
  }

  .close {
    cursor: pointer;
    margin-right: 0;
    transition: 0.3s ease;

    &:hover {
      filter: invert(70%) sepia(13%) saturate(14%) hue-rotate(342deg) brightness(86%) contrast(81%);
    }
  }

  .label {
    position: relative;
    display: block;
    max-width: fit-content;
    margin-bottom: 80px;
  }

  .label__name {
    margin: 0;
    padding-bottom: 42px
  }

  .settings__wrap {
    @include gilroy (28px, 700, 28px);
    color: white;
  }

  input[type=range] {
    width: 492px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    height: 3px;
    border-radius: 4.5px;
    background: linear-gradient(to right, #FFBCA2 0%, #FFBCA2 50%, rgb(196, 196, 196) 50%, rgb(196, 196, 196) 100%);
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #ecf0f1;
    border-radius: 50%;
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-top: -6px;
  }

  .volume__logo {
    position: absolute;
    bottom: -40px;
    right: 0;
  }

  .volume__mute {
    left: 6px;
  }

  .time__on {
    @include gilroy (26px, 500, 26px);
    margin-right: 16px;
  }

  .time__checkbox {
    display: none;
  }

  .fake {
    position: relative;
    bottom: -4px;
    display: inline-block;
    width: 48px;
    height: 24px;

    border-radius: 20px;
    background-color: #FFBCA2;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;

      border-radius: 50%;
      background-color: white;
      transition: 0.3s ease;
    }
  }

  .time__checkbox:checked+.fake {
    background-color: white;
  }

  .time__checkbox:checked+.fake::before {
    transform: translate(-22px, -50%);
    background-color: #FFBCA2;
  }

  .minus,
  .plus {
    border: none;
    width: 36px;
    height: 36px;
    padding: 0;

    background-color: white;
    @include gilroy (36px, 700, 36px)
  }

  .minus {
    background-color: #FFBCA2;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .time {
    width: 40px;
    height: 40px;
    padding: 0 24px;

    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
  }

  .buttons__wrap {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
  }

  .button {
    width: 278px;
    padding: 20px 0;

    @include gilroy (22px, 500, 22px);
    color: white;
    transition: 0.7s ease;

    &:hover {
      color: black;
      background-color: #FFF;
    }
  }

  .save__btn {
    background-color: #FFBCA2;
    color: black;
    border: none;

    &:hover {
      background-color: #fb966e;
    }
  }

  @media screen and (max-width: 768px) {
    .settings__page {
      padding: 30px 65px 0;
    }

    input[type=range] {
      width: calc(200px + (492 - 200) * ((100vw - 320px) / (768 - 320)));
    }
  }

  @media screen and (max-width: 520px) {
    .label {
      max-width: 100%;
      text-align: center;
    }

    .logo {
      width: 60px;
    }
  }
}

@media screen and (max-width: 768px) {
  .settings__page {
    padding: 30px 40px 0;
  }
}