.artist,
.pictures {
  min-height: 100vh;
  width: 100%;
  padding: 30px 70px 80px;
  box-sizing: border-box;

  background-color: black;

  .settings {
    position: absolute;
    top: 44px;
    right: 69px;
    width: 36px;
    height: 36px;
    z-index: 4;

    background-image: url('./common/img/settings-logo.svg');
    border: none;

    &:hover {
      filter: invert(70%) sepia(13%) saturate(14%) hue-rotate(342deg) brightness(86%) contrast(81%);
    }
  }

  .page__header {
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
  }

  .button {
    border: none;
    @include gilroy (22px, 500, 18px);
    color: #FFf;
    transition: 0.3s ease;

    &:last-child {
      color: #FFBCA2;
      font-weight: 700;
      cursor: auto;
    }

    &:hover:not(:last-child) {
      color: #777777;
    }
  }

  .cards__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 197px));
    grid-column-gap: 25px;
    grid-row-gap: 30px;
    justify-content: center;

    color: white;
  }

  .card__title__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .card__img__wrap {
    position: relative;
    border-radius: 20px;
    overflow: hidden
  }

  .card__title {
    @include gilroy (20px, 500, 20px);
  }

  .score {
    color: #FFBCA2;
  }

  .card__img {
    width: 100%;
    cursor: pointer;
    transition: 0.3s ease;
    filter: grayscale(1);

    &:hover {
      transform: scale(1.05);
    }
  }

  .score__btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;

    background: url('./common/img/score-star.png') no-repeat 80% 50%;
    background-color: #FFBCA2;
    border-radius: 0;
    border: none;
    transition: 0.3s ease;
    opacity: 0;
    @include gilroy (22px, 500, 22px);
    color: white;

    &:hover {
      background-color: #ff966d;
    }
  }

  @media screen and (max-width: 1024px) {
    .page__header {
      width: 65%;
    }
  }

  @media screen and (max-width: 768px) {
    .page__header {
      width: fit-content;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 40px;
      gap: 40px;
    }

    .settings {
      right: 35px;
    }

    .button {
      padding: 0;
      width: unset;
    }
  }
}

@media screen and (max-width: 780px) {

  .artist,
  .pictures {
    padding: 25px 55px 75px;
  }

}

@media screen and (max-width: 420px) {

  .artist,
  .pictures {
    padding: 25px 30px 75px;
  }
}