.score__page {
  .page__header {
    width: 50%
  }

  .score {
    padding: 0;
    border: none;
    cursor: auto;
  }

  .card__item {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
  }

  .card__img {
    border-radius: 20px;

    &:hover {
      transform: none;
    }
  }

  .img__correct {
    filter: none;
  }

  .img__incorrect {
    filter: blur(20px);
  }

  .answer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    bottom: 0;

    max-width: 100%;
    width: 100%;
    height: 100%;
    padding: 0 13px 21px;

    box-sizing: border-box;
    background-color: #FFBCA2;
    color: black;
    transition: 0.5s ease;
    transform: translateY(-400%);
    pointer-events: none;
  }

  .answer__active {
    transform: translateY(0);
  }

  .current__name {
    @include gilroy (20px, 600, 22px);
    margin: 0 0 6px;
  }

  .current__author__year {
    @include gilroy (14px, 400, 18px);
    font-style: italic;
    margin: 0;
  }

  @media screen and (max-width: 1120px) {
    .page__header {
      width: 65%;
    }
  }

  @media screen and (max-width: 875px) {
    .page__header {
      width: 80%;
      gap: 30px;
    }
  }


}