.question {
  width: 100vw;
  min-height: 100vh;
  padding: 20px 40px 0;
  box-sizing: border-box;
  background-color: black;

  .main__question {
    margin: 0 0 25px;
    @include gilroy (24px, 500, 24px);
    color: white;
  }

  .close {
    margin-bottom: 25px;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      filter: invert(70%) sepia(13%) saturate(14%) hue-rotate(342deg) brightness(86%) contrast(81%);
    }
  }

  .question__img {
    display: block;
    max-width: 100%;
    margin: auto;
    margin-bottom: 25px;
    object-fit: cover;

    border-radius: 20px;
  }

  .buttons__wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, 230px);
    justify-content: center;
    gap: 15px;
    margin-bottom: 40px;
  }

  .question__btn {
    height: 48px;
    color: white;
    @include gilroy (16px, 300, 16px);
    transition: 0.7s ease;

    &:hover {
      background-color: #FFBCA2;
      color: black;
      border: 1.5px solid black;
    }
  }

  .progress__dots {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 70px;
  }

  .progress__dot {
    width: 15px;
    height: 15px;
    background-color: #C4C4C4;
    border-radius: 50%;
  }

  .img__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    gap: 25px;
    justify-content: center;
    margin-bottom: 40px;
  }

  .artist__img {
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
  }

  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: 0.5s ease;
    z-index: 2;
  }

  .overlay__active {
    opacity: 1;
    pointer-events: all;
  }

  @media screen and (max-width: 1355px) {
    .img__container {
      grid-template-columns: repeat(2, minmax(200px, 300px));
    }
  }

  @media screen and (max-width: 1045px) {
    .buttons__wrap {
      grid-template-columns: repeat(2, 230px);
    }
  }

  @media screen and (max-width: 555px) {
    .question {
      padding: 20px 29px 0;
    }

    .buttons__wrap {
      grid-template-columns: repeat(2, minmax(130px, 230px));
    }

    .img__container {
      grid-template-columns: repeat(auto-fit, minmax(180px, 300px));
    }

    .progress__dot {
      width: 10px;
      height: 10px;
    }
  }

  @media screen and (max-width: 360px) {
    .progress__dot {
      width: 7px;
      height: 7px;
    }
  }
}

@media screen and (max-width: 555px) {
  .question {
    padding: 20px 15px 0;
  }
}